.camera-container {
    background-color: antiquewhite;
    height: 100vh;
    width: 100vw;
}

.camera {
    height: 100vh;
}
.webcam {
    margin-top: 5vh;
}
.countdown {
    color: white;
    font-size: xx-large;
    height: 100vh;
    width: 100vw;
}
.countdown-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}